@import '@scss/service';

.inputWrap {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
}

.input {
  position: relative;
  width: 100%;
  font-size: 0.8em;
  padding: 0.8em 0 0.8em 1.2em;
  background-color: $roseLight;
  border: none;
  border-radius: 3px;
  border: 0.5px solid transparent;
  color: $violetDark;

  &::placeholder {
    color: $violet;
  }
}
.errorInput {
  border: 0.5px solid $red;
}

.errorMessage {
  font-size: 0.62em;
  color: $red;
  position: absolute;
  bottom: -13px;
  left: 0;
}
