/****Colors****/

/**Blue**/
$blueDark: #25025d;

/**Black**/
$black: #000000;

/**White**/
$white: #ffffff;

/**Yellow**/
$yellow-dark: #fdb806;
$yellow: #fccc51;
$yellow-light: #e3bf62; //#eabe4f;

/**Rose**/
$rose-dark: #50263a;
$rose: #a8899d;
$roseLight: #f5f0f9;
$rose-misty: #eddbec;

/** Pink **/
$pink: #bb5285;

/** Gray **/
// $gray-dark: #373742;
$gray: #cecece;
$gray-light: #d1c8d0;
// $gray-misty: #f6f7fb;

/*Violet*/
$violetDark: #482c42;
$violet: #6a385f6d;
$violet-light: #865e7e;
$violet-misty: #bebcdc;

/*Red*/
$red: #de1616;

/****Screen size****/

$xxl: 1440px;
$xl: 1200px;
$medium: 1150px;
$tab: 880px;
$md: 768px; //--
$sm: 640px;
$mob: 560px;
$xs: 480px; //--
$small: 360px;
//$small: 375px;
$xxs: 320px; //--

/** FROM ROMANIA **/
$transiton: all 0.2s;

$orange-dark: #dfa700;
$orange: #fec601;
$orange-light: #ffd174;
$orange-misty: #fff69e;

$blue-dark: #1256aa;
$blue: #2a70c8; //#3175c9;
$blue-light: #65a1ee;
$blue-misty: #8bb5eb;

$red-dark: #af0008;
$red: #ed1b22;
